.main-options-layout {
  width: 100%;
  min-height: auto;
  padding: 20px;
  margin-top: 20px;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
